# Managed by Ansible. TLS reverse proxy for {{ vpn_member_svc.name }}.
server {
    listen {{ vpn_member_svc.ip }}:80;
{% for name in vpn_member_svc.dns_names %}
    server_name {{ name }}.{{ wg_domain }};
{% endfor %}
    return 301 https://$host$request_uri;
}

server {
    listen {{ vpn_member_svc.ip }}:443 ssl;
{% for name in vpn_member_svc.dns_names %}
    server_name {{ name }}.{{ wg_domain }};
{% endfor %}

    ssl_certificate     /etc/wg-certs/fullchain.pem;
    ssl_certificate_key /etc/wg-certs/privkey.pem;
    ssl_protocols       TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;

    location / {
        proxy_pass         http://{{ vpn_member_svc.nginx_upstream }};
        proxy_set_header   Host $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_set_header   Upgrade $http_upgrade;
        proxy_set_header   Connection "upgrade";
    }
}
